@using unirest_net;
@using unirest_net.http;
@using System.Reflection;
@{
    ViewData["Title"] = "Home Page";
}



@{
    HttpResponse<Hearthstone.Hs> response = Unirest.get("https://omgvamp-hearthstone-v1.p.mashape.com/cards")
    .header("X-Mashape-Key", "GBUA6L0J0QmshBqbIxIzTmy4Up8tp1r18WOjsnu52LriUEs890")
    .asJson<Hearthstone.Hs>();
    List<Hearthstone.Hs> hearthstoneCards = new List<Hearthstone.Hs>();
    hearthstoneCards.Add(response.Body);
}
<div class="d-flex justify-content-between flex-wrap container-fluid">
    @{
        PropertyInfo[] property = typeof(Hearthstone.Hs).GetProperties();
        foreach (PropertyInfo info in property)
        {
            if (info.GetValue(response.Body) is List<Hearthstone.Basic> item2)
            {
                foreach (Hearthstone.Basic item in item2)
                {
                    if (item.Img != null)
                    {
                        <img class="@item.Name" src="@item.Img" onerror="this.style.display='none'" alt="hsPric" />
                    }
                }
            }
        }
    }

</div>